<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayaan's Website</title>
    <script src="{{ url_for('static', filename='stable.js') }}" defer type="module"></script>
</head>
<body>
    <input type="text" class="user-input" placeholder="Ask your question here..">
    <button class="submit">SUBMIT</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>   
</body>
</html>